<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Superhero\CustomerBasedCheckout\Api\SuperheroUniversesRepositoryInterface" type="Superhero\CustomerBasedCheckout\Model\SuperheroUniversesRepository"/>
	<preference for="Superhero\CustomerBasedCheckout\Api\Data\SuperheroUniversesInterface" type="Superhero\CustomerBasedCheckout\Model\SuperheroUniverses"/>
	<preference for="Superhero\CustomerBasedCheckout\Api\Data\SuperheroUniversesSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Superhero\CustomerBasedCheckout\Model\ResourceModel\SuperheroUniverses\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">superhero_customerbasedcheckout_superherouniverses</argument>
			<argument name="resourceModel" xsi:type="string">Superhero\CustomerBasedCheckout\Model\ResourceModel\SuperheroUniverses\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="superhero_customerbasedcheckout_superherouniverses_listing_data_source" xsi:type="string">Superhero\CustomerBasedCheckout\Model\ResourceModel\SuperheroUniverses\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
